form.form {
  label.label {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25em;
  }

  input[type=text],
  input[type=number],
  select,
  button,
  textarea {
    transition: all 0.30s ease-in-out;
    outline: none;
  }

  input[type=text]:focus,
  input[type=number]:focus,
  select:focus,
  button:focus,
  textarea:focus {
    box-shadow: 0 0 5px $primary;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    .is-#{$name} {
      input[type=text]:focus,
      input[type=number]:focus,
      select:focus,
      button:focus,
      textarea:focus {
        outline: none;
        box-shadow: 0 0 5px $color;
      }

      .help {
        color: $color;
      }
    }
  }
  label.checkbox input {
    margin-right: .25em;
  }
}

// Modal Colors
.modal-card {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      .modal-card-head {
        background: $color;
        border-color: darken($color, 4%);
        .modal-card-title {
          color: $color-invert;
        }
      }
    }
  }
}
